// out: ./newgrid.css
$cols: 12;
$grid-max-width: 65em;

%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
// breakpoints
$breakpoint-small:  "only screen and (min-width: 480px)";
$breakpoint-medium: "only screen and (min-width: 768px)";

*,*:after,*:before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
img{
  width:auto;
  max-width: 100%;
  height: auto !important;
}
.container{
  width:100%;
  margin: 0 auto;
}
.container,
.gr{
  @extend %clearfix;

}
[class*='gc-']{
  float:left;
  width:100%;
  min-height:1px;
}
@media #{$breakpoint-medium} {
  .gcont{
    width:95%;
    max-width:$grid-max-width;
  }
  @for $i from 1 to $cols + 1{
    .gc-#{$i}{
      width:100%/$cols*$i;

    }
  }
}
