html,body{
  font-family: 'Oswald', sans-serif;
}
header{
  background-color:#eee;
}
.date{
  text-align:right;
}
.cicon{
}
.event{
  height:auto;
  overflow:hidden;
}
.event{
  min-height:3em;
}
.desc{
  border: 1px solid #ccc;
  min-height:10em;
}
