.only-print, .only-print * {
  display: none; }

@media print {
  .no-print, .no-print * {
    display: none !important; }
  .only-print, .only-print * {
    display: inline !important; }
  html, body {
    background-color: #fff; } }

.mc1 {
  color: #e7ecef; }

/* bianco */
.mc2 {
  color: #274c77; }

/* blu scuro */
.mc3 {
  color: #6096ba; }

/* blu medio */
.mc4 {
  color: #a3cef1; }

/* blu chiaro */
.mc5 {
  color: #4e4f4d; }

/* grigio */
.mbc1 {
  background-color: #e7ecef; }

.mbc2 {
  background-color: #274c77; }

.mbc3 {
  background-color: #6096ba; }

.mbc4 {
  background-color: #a3cef1; }

.mbc5 {
  background-color: #4e4f4d; }

html, body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  background-color: #e7ecef; }

@media all and (max-width: 1024px) {
  html, body {
    font-size: 8px; } }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1.2em; }

a {
  text-decoration: none;
  color: #274c77; }

a:hover {
  color: #6096ba; }

header .first {
  background-image: url('../img/headerback.jpg');
  background-color: #e7ecef;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 100%;
  height: 50vh;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  position: relative; }
  header .first:hover {
    background-image: url('../img/headerback2.jpg'); }
    header .first:hover .idinfo {
      background-color: rgba(39, 76, 119, 0.9); }
  @media all and (max-width: 1024px) {
    header .first {
      background-image: url('../img/headerback_phone.png'); }
      header .first:hover {
        background-image: url('../img/headerback_phone2.png'); }
        header .first:hover .idinfo {
          background-color: rgba(39, 76, 119, 0.9); } }
header .idinfo {
  color: #fff;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  position: absolute;
  bottom: 2em; }
header .intro {
  font-style: italic;
  text-align: justify; }

.date {
  text-align: right; }

.year {
  color: #a3cef1;
  min-height: 4em; }

.year.withevent {
  color: #4e4f4d; }

@media all and (min-width: 1024px) {
  .skillabs.stick {
    position: fixed;
    top: 0;
    z-index: 10000; }
  .skillabs.stickb {
    position: fixed;
    z-index: 10000;
    bottom: 400px; } }

.skill {
  height: 6em; }
  .skill img {
    height: 4em; }

.event {
  min-height: 3em;
  margin-top: 3em; }
  .event .date {
    border-top: 1px solid #ccc;
    margin-left: 0; }
  .event.fun * {
    color: #274c77;
    font-size: 0.8em; }
  .event.fun img {
    width: 50%; }
  .event .longdesc {
    max-height: 0px;
    overflow: hidden;
    transition: 1s linear; }
    .event .longdesc.open {
      max-height: 500px;
      transition: 1s linear;
      padding: 1em; }

.begin, .end {
  border-radius: 50%; }

.sparkle {
  background-color: #6096ba; }

footer {
  padding: 3em;
  height: 400px;
  color: #e7ecef; }
