.only-print, .only-print *{
  display:none;
}
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
    .only-print, .only-print *{
      display: inline !important;
    }
    html,body{
      background-color:#fff;
    }
}
.mc1 { color:#0a2239; }
.mc2 { color:#53a2be; }
.mc3 { color:#1d84b5; }
.mc4 { color:#132e32; }
.mc5 { color:#176087; }
.mbc1 { background-color:#0a2239; }
.mbc2 { background-color:#53a2be; }
.mbc3 { background-color:#1d84b5; }
.mbc4 { background-color:#132e32; }
.mbc5 { background-color:#176087; }

html,body{
  font-family: 'Oswald', sans-serif;
  font-size:15px;
  background-color:#53a2be;
}
h1{ font-size:5em; }
h2{ font-size:3em; }
h3{ font-size:2em; }
h4{ font-size:1.5em; }
a { text-decoration: none; color:#1d84b5; }
a:hover { color:#176087;  }

header .first{
  background-image:url('../img/headerback.jpg');
  background-repeat:no-repeat;
  background-size:auto 100%;
  height:500px;
  transition: 0.5s ease-in-out;
}
header .first:hover{
  background-image:url('../img/headerback2.jpg');
}
header .first:hover .idinfo{
  background-color:rgba(19,46,50,0.9);
}
header .idinfo{
  margin-top:5em;
  color:#fff;
  transition: 0.5s ease-in-out;
}
header .intro{
  margin-top:2em;
  font-style:italic;
  text-align:justify;
  margin-bottom:2em;
}
.history{
  background-image:url('../img/history_back.svg');
  background-repeat: repeat-y;
  background-size:100%;
}
.date{
  text-align:right;
}
.cicon{
}
.year{
  color: #ccc;
  min-height:4em;
}
.year.withevent{
  color: #000;
}
.skillabs.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
}
.skill{
  float:left;
  margin:0.2em;
}
.skill p{
  margin:0;
}
.skill .scorebar{
  height:3em;
  border:1px solid #688;
  background-color:#dee;
  transition: 0.5s ease-in-out;
  text-transform:uppercase;
  font-size:0.8em;
  padding-top:0.2em;
  overflow:hidden;
}
.skill .scorebar img{
  margin:0.5em;
  height:1.8em;
}
.event{
  min-height:3em;
  margin-top:3em;
}
  .event.fun *{
    color:#888;
    font-size:0.8em;
  }
  .event.fun img{
    width:50%;
    margin-left:auto;
    margin-right:auto;
  }
  .event .longdesc{
    height:0px;
    overflow:hidden;
    transition: 0.5s ease-in-out;
  }
  .event .longdesc.open{
    height:auto;
    padding:1em;
  }


.begin,
.end{
  border-radius:50%;
}
