// out: ./style.css
$cbianco: #e7ecef;
$cblus:   #274c77;
$cblum:   #6096ba;
$cbluc:   #a3cef1;
$cgrigio: #4e4f4d;

.only-print, .only-print *{
  display:none;
}
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
    .only-print, .only-print *{
      display: inline !important;
    }
    html,body{
      background-color:#fff;
    }
}

.mc1 { color:$cbianco; } /* bianco */
.mc2 { color:$cblus; } /* blu scuro */
.mc3 { color:$cblum; } /* blu medio */
.mc4 { color:$cbluc; } /* blu chiaro */
.mc5 { color:$cgrigio; } /* grigio */
.mbc1 { background-color:$cbianco; }
.mbc2 { background-color:$cblus; }
.mbc3 { background-color:$cblum; }
.mbc4 { background-color:$cbluc; }
.mbc5 { background-color:$cgrigio; }

html,body{
  font-family: 'Oswald', sans-serif;
  font-size:16px;
  background-color:$cbianco;
}

@media all and (max-width:1024px){
  html,body{
    font-size:8px;
  }
}
h1{ font-size:2em; }
h2{ font-size:1.5em; }
h3{ font-size:1.3em; }
h4{ font-size:1.2em; }
a { text-decoration: none; color:$cblus; }
a:hover { color:$cblum;  }

header{
  .first{
    background-image:url('../img/headerback.jpg');
    background-color:$cbianco;
    background-repeat:no-repeat;
    background-size:auto 100%;
    width:100%;
    //min-height:450px;
    height:50vh;
    transition: 0.5s ease-in-out;
    overflow:hidden;
    position:relative;
    &:hover{
      background-image:url('../img/headerback2.jpg');
      .idinfo{
        background-color:rgba($cblus,0.9);
      }
    }
    @media all and (max-width:1024px){
      background-image:url('../img/headerback_phone.png');
      &:hover{
        background-image:url('../img/headerback_phone2.png');
        .idinfo{
          background-color:rgba($cblus,0.9);
        }
      }
    }
  }
  .idinfo{
    color:#fff;
    transition: 0.2s ease-in-out;
    border-radius:5px;
    position:absolute;
    bottom:2em;
  }
  .intro{
    font-style:italic;
    text-align:justify;
  }
}
.date{
  text-align:right;
}
.year{
  color: $cbluc;
  min-height:4em;
}
.year.withevent{
  color: $cgrigio;
}
.skillabs{
  @media all and (min-width:1024px){
    &.stick {
      position: fixed;
      top: 0;
      z-index: 10000;
    }
    &.stickb{
      position:fixed;
      z-index: 10000;
      bottom:400px;
    }
  }
}

.skill{
  height:6em;
  img{
    height:4em;
  }
}
.event{
  min-height:3em;
  margin-top:3em;
  .date{
    border-top:1px solid #ccc;
    margin-left:0;
  }
  &.fun{
    *{ color:$cblus; font-size:0.8em; }
    img{
      width:50%;
    }
  }
  .longdesc{
    max-height:0px;
    overflow:hidden;
    transition: 1s linear;
    &.open{
      max-height:500px;
      transition: 1s linear;
      padding:1em;
    }
  }
}
.begin,
.end{
  border-radius:50%;
}
.sparkle{
  background-color:$cblum;
}
footer{
  padding:4em;
  background-color:$cbluc;
  color:$cbianco;
}
